@model ProjektViewModel;

<link rel="stylesheet" type="text/css" href="~/css/Redigera.css">

<div class="container mt-5">
    <h2>Lägg till projekt</h2>

    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <form asp-action="LäggTillProjekt" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Titel</label>
            <input asp-for="Namn" class="form-control" type="text" placeholder="Ange projekttitel" />
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput">Beskrivning</label>
            <textarea asp-for="Beskrivning" class="form-control" rows="4" placeholder="Beskriv projektet här"></textarea>
        </div>

        <div class="form-group text-center mt-4">
            <input type="submit" value="Lägg till projekt" class="btn btn-success" />
        </div>
    </form>
</div>