    @model ProjektViewModel

<link rel="stylesheet" type="text/css" href="~/css/Redigera.css">

<div class="container mt-5">
    <h2>Redigera Projekt</h2>
    <form asp-action="ÄndraProjekt" method="post">
        <input type="hidden" name="projectID" value="@Model.ProjektID" />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Namn">Projektnamn</label>
            <input asp-for="Namn" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Beskrivning">Beskrivning</label>
            <textarea asp-for="Beskrivning" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Ändra Projekt</button>
    </form>
</div>