@{
    ViewData["Title"] = "Sökning";
}

<link rel="stylesheet" type="text/css" href="~/css/Användare.css">

<div class="login-container">
    <form asp-action="Sök" asp-controller="Sok" class="login-form">
        <h2>@ViewData["Title"]</h2>

        <div class="form-group">    
            <input type="text" name="sok" class="form-control" placeholder="Användarnamn:" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>
    </form>
</div>