@using CVgrupp2Main.DatabasLager
@model IEnumerable<Erfarenheter>

<div class="container mt-5">
    <h2>Mina erfarenheter</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Beskrivning</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var erfarenhet in Model)
            {
                <tr>
                    <td>@erfarenhet.Titel</td>
                    <td>@erfarenhet.Beskrivning</td>
                    <td>
                        <form asp-action="TaBortErfarenhet" method="post">
                            <input type="hidden" name="erfarenhetId" value="@erfarenhet.ID" />
                            <button type="submit" class="btn btn-danger">Ta Bort</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="LäggTillErfarenhet" class="btn btn-primary">Lägg Till Erfarenhet</a>
</div>


