@model LoginViewModel

<link rel="stylesheet" type="text/css" href="~/css/Inloggning.css">
<link rel="stylesheet" type="text/css" href="~/css/Användare.css">

<div class="login-container">
    <form method="post" asp-action="LoggaIn" class="login-form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label>Användarnamn: </label>
            <input asp-for="Användarnamn" class="form-control" />
        </div>

        <div class="form-group">
            <label>Lösenord: </label>
            <input type="password" asp-for="Lösenord" class="form-control" />
        </div>

        <div class="form-group form-check">
            <input type="checkbox" asp-for="Komihåg" class="form-check-input" />
            <label class="form-check-label">Kom ihåg mig</label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Logga in</button>
        </div>
    </form>
</div>
