@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="css/Hemsida.css">

<div class="text-center">
    <h1 class="display-4">Portfoliosida</h1>
    <p>Denna webbplats gör det möjligt att visa och uppdatera CV:n och projekt för både individer och grupper. All information kan enkelt uppdateras och sparas i en databas. Syftet är att skapa en professionell profil som kan användas för att visa erfarenheter och kompetenser för framtida arbetsgivare.</p>
</div>

<div class="image-row">
    <img src="~/Bilder/HemsideBild.jpg" alt="hemsida.bild" />
    <img src="~/Bilder/HemsideBild2.jpg" alt="hemsida.bild" />
    <img src="~/Bilder/HemsideBild3.jpg" alt="hemsida.bild" />
</div

   



