body {
    margin: 0;
    padding: 0;
}


.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

    
    .image-row img {
        width: 250px; 
        border-radius: 8px;  
    }

 .login-register{

 }
