<link rel="stylesheet" type="text/css" href="~/css/CV.css">

<div class="login-container">
    <header class="login-header">
        Du måste vara inloggad för att se privat profil!
    </header>

    <p class="login-message"><a class="login-link" asp-controller="Login" asp-action="LogIn">Logga in här</a>.</p>

    <p class="register-message"> <a class="register-link" asp-controller="Person" asp-action="LäggTillAnvändare">Registrera dig här</a>.</p>
</div>
